.appContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	background:rgba(255, 255, 255, 0.5);
	width: 300px;
	height: 400px;
	border-radius: 12px;
}